.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1939px;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat, sans-serif;
  margin: 104px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 423px;
  height: 396px;
  margin: 267px auto 0 -58px;
}

.u-section-1 .u-list-1 {
  width: 582px;
  grid-auto-rows: 100%;
  margin: -582px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 11px);
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 1034px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-19 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-7 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-21 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-22 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-8 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-24 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-25 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 537px;
  height: 691px;
  animation-duration: 1000ms;
  margin: -1506px auto 0 0;
}

.u-section-1 .u-text-26 {
  margin: 892px 497px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1901px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
    font-size: 4.5rem;
  }

  .u-section-1 .u-shape-1 {
    width: 338px;
    height: 363px;
    margin-top: 358px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    width: 470px;
    margin-top: -640px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-7 {
    background-size: auto;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-8 {
    background-size: auto;
  }

  .u-section-1 .u-text-24 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 444px;
    height: 585px;
    object-position: 48.64% 50%;
    margin-top: -1454px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 895px;
    margin-left: 397px;
    margin-right: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1731px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 93px;
  }

  .u-section-1 .u-shape-1 {
    width: 189px;
    height: 213px;
    margin-top: 0;
    margin-left: 463px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 97px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1262px;
  }

  .u-section-1 .u-image-1 {
    height: 370px;
    width: 338px;
    margin-top: -1399px;
    margin-right: -100px;
    margin-left: auto;
  }

  .u-section-1 .u-text-26 {
    width: 146px;
    margin: 1059px auto 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1766px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 142px;
  }

  .u-section-1 .u-shape-1 {
    width: 474px;
    height: 369px;
    margin-top: 115px;
    margin-right: -287px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1322px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 249px;
    width: 249px;
    margin-top: -1514px;
    margin-right: -78px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 1300px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2920px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 134px;
  }

  .u-section-1 .u-shape-1 {
    width: 314px;
    height: 317px;
    margin-top: 86px;
    margin-left: -34px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 30px;
    margin-right: -11px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 2546px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -2642px;
    margin-right: -114px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin: 2423px 86px 45px 108px;
  }
}