.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/_GZ81973.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 717px;
  margin: 187px auto 0;
}

.u-section-1 .u-line-1 {
  width: 57px;
  height: 4px;
  transform-origin: left center 0px;
  margin: 46px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 31px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-1 {
  width: 174px;
  height: 174px;
  box-shadow: 0 2px 8px 0 rgba(246,13,85,1);
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 6px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-1 .u-image-2 {
  width: 180px;
  height: 180px;
  box-shadow: 0 2px 8px 0 rgba(246,13,85,1);
  animation-duration: 1000ms;
  margin: 27px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 34px 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 0 34px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
  background-image: none;
}

.u-section-1 .u-image-3 {
  width: 180px;
  height: 180px;
  box-shadow: 0 2px 8px 0 rgba(246,13,85,1);
  animation-duration: 1000ms;
  margin: 27px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 34px 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 0 34px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 116px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-5 {
    position: relative;
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-1 .u-text-6 {
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-7 {
    position: relative;
    margin-left: 1px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 104px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-1 .u-image-1 {
    width: 160px;
    height: 160px;
    margin-top: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 402px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 143px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 181px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 6px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 323px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 486px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 430px;
  margin: 28px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-text-1 {
  width: 304px;
  margin: 2px auto 0;
}

.u-section-2 .u-image-1 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-2 .u-group-1 {
    min-height: 444px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 18px 10px 15px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-bottom: -9px;
  }
}