.u-section-1 {
  background-image: linear-gradient(#1b1464, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 952px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1095px;
  margin: 109px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 843px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  width: 622px;
  height: 783px;
  animation-duration: 1000ms;
  margin: 0 auto 0 -38px;
}

.u-section-1 .u-image-2 {
  object-position: 0% 65.31%;
  background-position: 0% 65.31%;
  width: 749px;
  animation-duration: 1000ms;
  left: auto;
  right: -201px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 843px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 0 30px 30px;
}

.u-section-1 .u-group-1 {
  min-height: 686px;
  width: 481px;
  margin: 36px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 11px 30px 0;
}

.u-section-1 .u-video-1 {
  height: 270px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  width: 480px;
  margin: 23px 0 0 -10px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 45px 68px 0 179px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 23px auto 0 179px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 616px;
    background-position: 8.59% 50%;
    background-size: auto 135%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 524px;
    height: 638px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -610px -82px 0 auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 616px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-1 {
    width: 409px;
  }

  .u-section-1 .u-video-1 {
    width: 398px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 19px;
    margin-right: 129px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-1 .u-image-1 {
    height: 443px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 384px;
    height: 468px;
    margin-top: -443px;
    margin-right: -30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 471px;
  }

  .u-section-1 .u-group-1 {
    min-height: 454px;
    width: 306px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-1 .u-video-1 {
    height: 227px;
    width: 315px;
    margin-top: 0;
    margin-left: -20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-right: 60px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 137px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 322px;
    order: 1;
  }

  .u-section-1 .u-image-1 {
    height: 299px;
    width: 405px;
    margin-top: -390px;
    margin-right: auto;
    margin-left: -48px;
  }

  .u-section-1 .u-image-2 {
    width: 282px;
    height: 376px;
    margin-top: -351px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 401px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 19px;
    padding-bottom: 0;
    padding-left: 5px;
  }

  .u-section-1 .u-group-1 {
    min-height: 361px;
    width: 530px;
    margin-top: 316px;
    margin-right: auto;
    margin-bottom: -395px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-1 .u-video-1 {
    height: 302px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -643px;
    margin-right: 25px;
    margin-left: 246px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
    width: 320px;
    margin-top: -292px;
    margin-left: -32px;
  }

  .u-section-1 .u-image-2 {
    width: 216px;
    height: 292px;
    margin-top: -278px;
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-1 .u-group-1 {
    min-height: 251px;
    width: 335px;
    margin-right: 0;
    margin-bottom: -285px;
  }

  .u-section-1 .u-video-1 {
    height: 223px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -323px;
    margin-right: 42px;
    margin-left: -42px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 420px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 310px;
  background-image: url("images/_GZ825281.JPG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 326px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 310px;
  background-image: url("images/nomfusi-red-stoep1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 310px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-2 .u-image-1 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-2 .u-image-2 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-2 .u-image-1 {
    min-height: 392px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 392px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-2 .u-image-1 {
    min-height: 588px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 588px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-2 .u-image-1 {
    min-height: 370px;
  }

  .u-section-2 .u-image-2 {
    min-height: 370px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 470px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 494px;
  margin: 20px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-text-1 {
  width: 304px;
  margin: 2px auto 0;
}

.u-section-3 .u-image-1 {
  width: 395px;
  height: 314px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-group-1 {
    min-height: 444px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 18px 10px 15px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 30px;
    margin-bottom: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 320px;
    height: 254px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 892px;
}

.u-section-4 .u-group-1 {
  width: 936px;
  animation-duration: 1000ms;
  min-height: 910px;
  margin: 0 auto 14px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-1 {
  width: 468px;
  height: 370px;
  margin: -46px auto 0 259px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  margin: -50px 64px 0;
}

.u-section-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 14px 64px 0;
}

.u-section-4 .u-text-3 {
  animation-duration: 1000ms;
  margin: 33px 64px 0;
}

.u-section-4 .u-text-4 {
  animation-duration: 1000ms;
  margin: 14px 64px 0;
}

.u-section-4 .u-text-5 {
  animation-duration: 1000ms;
  margin: 35px 64px 0;
}

.u-section-4 .u-text-6 {
  animation-duration: 1000ms;
  margin: 14px 64px 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -68px;
    margin-right: 102px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    min-height: 976px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -54px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -42px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    position: relative;
    width: 340px;
    min-height: 1232px;
  }

  .u-section-4 .u-image-1 {
    height: 269px;
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 14px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 831px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 172px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 60px 42px;
}

.u-section-5 .u-image-1 {
  width: 225px;
  height: 225px;
  margin: -94px auto 0;
}

.u-section-5 .u-text-1 {
  margin: -29px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-5 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-5 .u-video-1 {
  width: 512px;
  height: 281px;
  margin: 0 0 0 auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-video-poster-1 {
  background-image: url("images/Profil-clip-inspiration.jpg");
}

.u-section-5 .u-layout-cell-3 {
  min-height: 214px;
}

.u-section-5 .u-video-2 {
  height: 319px;
  width: 531px;
  margin: -85px auto 0 0;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
}

.u-section-5 .u-video-poster-2 {
  background-image: url("images/Profil-clip-idiom.jpg");
}

.u-section-5 .u-layout-cell-4 {
  min-height: 557px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 10px 17px 0;
}

.u-section-5 .u-video-3 {
  height: 281px;
  width: 512px;
  margin: 0 auto 0 0;
}

.u-section-5 .embed-responsive-3 {
  position: absolute;
}

.u-section-5 .u-video-poster-3 {
  background-image: url("images/Profil-Clip-Who-Is-Your-Iqaqa.jpg");
}

.u-section-5 .u-text-2 {
  width: 280px;
  margin: 29px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 55px 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 18px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 142px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-5 .u-video-1 {
    width: 470px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 177px;
  }

  .u-section-5 .u-video-2 {
    width: 470px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 459px;
  }

  .u-section-5 .u-video-3 {
    width: 460px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 13px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-5 .u-video-1 {
    width: 332px;
    height: 224px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-5 .u-video-2 {
    height: 223px;
    width: 332px;
    margin-top: -244px;
    margin-right: 2px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 303px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 53px;
  }

  .u-section-5 .u-video-3 {
    height: 294px;
    width: 477px;
    margin-top: -283px;
    margin-left: 110px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 218px;
    margin-left: 212px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 20px;
    margin-left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -29px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-5 .u-video-1 {
    width: 418px;
    height: 255px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 325px;
  }

  .u-section-5 .u-video-2 {
    height: 255px;
    width: 418px;
    margin-top: 35px;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 454px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .u-section-5 .u-video-3 {
    height: 223px;
    width: 418px;
    margin-top: 4px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: 280px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 13px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 176px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 205px;
  }

  .u-section-5 .u-video-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-video-3 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}