.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 679px;
  margin: 186px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-1 .u-text-1 {
  margin: 39px 186px 0 20px;
}

.u-section-1 .u-line-1 {
  width: 579px;
  transform-origin: left center 0px;
  margin: 3px auto 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 0 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 50px 20px 0 0;
}

.u-section-1 .u-video-1 {
  width: 264px;
  height: 148px;
  margin: 20px auto 0 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 717px;
    margin-bottom: 95px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 27px;
    margin-right: 209px;
    margin-left: 118px;
  }

  .u-section-1 .u-line-1 {
    width: 477px;
    position: relative;
    height: 3px;
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 36px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-right: 82px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 566px;
    margin-bottom: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
    margin-right: 175px;
    margin-left: 92px;
  }

  .u-section-1 .u-line-1 {
    width: 461px;
    margin-top: 36px;
    margin-left: 25px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 79px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 402px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-right: 28px;
    margin-left: 69px;
  }

  .u-section-1 .u-line-1 {
    width: 343px;
    height: 3px;
    margin-top: 40px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 338px;
    margin-top: 163px;
    margin-bottom: 110px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 136px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-right: 14px;
    margin-left: 85px;
  }

  .u-section-1 .u-line-1 {
    width: 288px;
    margin-top: 22px;
    margin-left: 13px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 279%;
    left: -90%;
    height: 100%;
    top: 0%;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 360px;
}

.u-section-2 .u-group-1 {
  min-height: 320px;
  width: 936px;
  margin: 20px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  width: 717px;
  margin: 22px auto 0;
}

.u-section-2 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0px;
  margin: 27px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 12px 64px 0;
}

.u-section-2 .u-text-3 {
  margin: 5px 64px 0;
}

.u-section-2 .u-text-4 {
  margin: 7px 64px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    width: 591px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-2 .u-line-1 {
    width: 47px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
    width: 453px;
  }

  .u-section-2 .u-line-1 {
    width: 36px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 52px;
    margin-right: 52px;
    width: 425px;
  }

  .u-section-2 .u-line-1 {
    width: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 27px;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
    width: 275px;
  }

  .u-section-2 .u-line-1 {
    width: 28px;
    transform-origin: right center 0px;
  }

  .u-section-2 .u-text-2 {
    width: 268px;
    margin-left: 36px;
    margin-right: 36px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 831px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 39px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 792px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 502px;
  height: 816px;
  object-position: 2.87% 50%;
  background-position: 2.87% 50%;
  margin: -58px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 792px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 15px 20px;
}

.u-section-3 .u-text-1 {
  margin: 45px 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 9px 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0px;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 45px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  background-image: none;
  margin: 12px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 639px;
  }

  .u-section-3 .u-image-1 {
    width: 375px;
    height: 611px;
    position: relative;
    margin-right: 25px;
    margin-bottom: 139px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 653px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 47px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 775px;
  }

  .u-section-3 .u-image-1 {
    width: 293px;
    height: 456px;
    margin-top: -82px;
    margin-right: 13px;
    margin-bottom: 400px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 36px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-3 .u-image-1 {
    width: 446px;
    height: 588px;
    margin-top: -77px;
    margin-right: auto;
    margin-bottom: 36px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 34px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-3 .u-image-1 {
    width: 264px;
    height: 390px;
    margin-top: -70px;
    margin-bottom: 47px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 28px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-4 .u-group-1 {
  min-height: 141px;
  width: 936px;
  margin: 48px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  width: 717px;
  margin: 26px auto 0;
}

.u-section-4 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 46px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 30px;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 842px;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-4 .u-video-1 {
  width: 521px;
  height: 294px;
  margin: 70px 34px 0 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-video-2 {
  width: 521px;
  height: 294px;
  margin: 30px auto 0 0;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 842px;
}

.u-section-4 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-4 .u-video-3 {
  width: 521px;
  height: 293px;
  margin: 70px 34px 0 0;
}

.u-section-4 .embed-responsive-3 {
  position: absolute;
}

.u-section-4 .u-video-4 {
  width: 521px;
  height: 293px;
  margin: 30px auto 0 0;
}

.u-section-4 .embed-responsive-4 {
  position: absolute;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-4 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-4 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    width: 591px;
  }

  .u-section-4 .u-line-1 {
    width: 47px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 694px;
  }

  .u-section-4 .u-video-1 {
    width: 455px;
    margin-right: 0;
  }

  .u-section-4 .u-video-2 {
    width: 455px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 694px;
  }

  .u-section-4 .u-video-3 {
    width: 455px;
    margin-right: 0;
  }

  .u-section-4 .u-video-4 {
    width: 455px;
  }

  .u-section-4 .u-btn-1 {
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 453px;
  }

  .u-section-4 .u-line-1 {
    width: 36px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 532px;
  }

  .u-section-4 .u-video-1 {
    width: 345px;
  }

  .u-section-4 .u-video-2 {
    width: 345px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 821px;
  }

  .u-section-4 .u-video-3 {
    width: 345px;
  }

  .u-section-4 .u-video-4 {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 425px;
  }

  .u-section-4 .u-line-1 {
    width: 34px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 798px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-line-1 {
    width: 28px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 703px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
  }

  .u-section-4 .u-video-2 {
    width: 340px;
  }

  .u-section-4 .u-video-3 {
    width: 340px;
  }

  .u-section-4 .u-video-4 {
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1378px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 39px 0 40px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 1299px;
}

.u-section-5 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 32px 84px 0 36px;
}

.u-section-5 .u-text-2 {
  margin: 11px 84px 0 36px;
}

.u-section-5 .u-image-1 {
  width: 302px;
  height: 185px;
  margin: 30px 217px 0 36px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 1299px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 141px;
}

.u-section-5 .u-image-2 {
  width: 433px;
  height: 467px;
  margin: 0 -26px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: -45px 84px 0 36px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1493px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 69px;
    margin-left: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 30px;
    margin-right: 69px;
    position: relative;
  }

  .u-section-5 .u-image-1 {
    margin-right: 153px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 761px;
  }

  .u-section-5 .u-image-2 {
    width: 430px;
    height: 376px;
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 69px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 1945px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 53px;
    margin-left: 23px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 23px;
    margin-right: 53px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 43px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 329px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 50px;
    margin-right: 53px;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 1173px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 40px;
    margin-left: 17px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 17px;
    margin-right: 40px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1154px;
  }

  .u-section-5 .u-image-2 {
    width: 309px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 40px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 1141px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 25px;
    margin-left: 11px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 11px;
    margin-right: 25px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 38px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1122px;
  }

  .u-section-5 .u-image-2 {
    width: 259px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 25px;
    margin-left: 11px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/_GZ81973.JPG");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 750px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 717px;
  margin: 187px auto 0;
}

.u-section-6 .u-line-1 {
  width: 57px;
  height: 4px;
  transform-origin: left center 0px;
  margin: 46px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 31px 0 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-image-1 {
  width: 174px;
  height: 174px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 6px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-6 .u-image-2 {
  width: 180px;
  height: 180px;
  margin: 27px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 34px 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  margin: 0 34px;
}

.u-section-6 .u-btn-2 {
  border-style: none none solid;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 400px;
  background-image: none;
}

.u-section-6 .u-image-3 {
  width: 180px;
  height: 180px;
  margin: 27px auto 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 34px 0;
}

.u-section-6 .u-text-7 {
  font-style: italic;
  margin: 0 34px;
}

.u-section-6 .u-btn-3 {
  border-style: none none solid;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-6 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -57px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-top: 55px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-text-3 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-7 {
    position: relative;
    margin-left: 1px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -21px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-6 .u-image-1 {
    width: 160px;
    height: 160px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 623px;
    width: 540px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -625px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -677px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1303px;
}

.u-section-7 .u-group-1 {
  min-height: 141px;
  width: 936px;
  height: auto;
  margin: 39px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  width: 717px;
  font-size: 3rem;
  margin: 14px auto 0;
}

.u-section-7 .u-line-1 {
  width: 57px;
  height: 4px;
  transform-origin: left center 0px;
  margin: 46px auto 0;
}

.u-section-7 .u-shape-1 {
  height: 1028px;
  width: 1048px;
  margin: 20px auto 0 46px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: -987px auto 126px 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/nomfusimgf2013-_NIK5097.jpg");
  min-height: 964px;
  background-position: 0% 50%;
}

.u-section-7 .u-image-2 {
  background-image: url("images/CrossCultureFestival2014_Warsaw_photo_A_Oleksiak_Nomfusi_0528.jpg");
  min-height: 398px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-3 {
  background-image: url("images/_GZ82528.JPG");
  min-height: 566px;
  background-position: 100% 50%;
}

.u-section-7 .u-image-4 {
  background-image: url("images/_GZ81938.JPG");
  min-height: 566px;
  background-position: 37.18% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-7 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    width: 591px;
  }

  .u-section-7 .u-line-1 {
    width: 47px;
    position: relative;
  }

  .u-section-7 .u-shape-1 {
    width: 864px;
    position: relative;
    margin-left: 38px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    min-height: 643px;
  }

  .u-section-7 .u-image-3 {
    min-height: 321px;
  }

  .u-section-7 .u-image-4 {
    min-height: 467px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-7 .u-line-1 {
    width: 36px;
    margin-top: 44px;
  }

  .u-section-7 .u-shape-1 {
    width: 662px;
    margin-left: 29px;
  }

  .u-section-7 .u-image-4 {
    min-height: 715px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-7 .u-text-1 {
    width: 425px;
    font-size: 2.25rem;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-7 .u-line-1 {
    width: 34px;
    margin-top: 45px;
    margin-left: 253px;
  }

  .u-section-7 .u-shape-1 {
    height: 2299px;
    width: 470px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -2258px;
    margin-bottom: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    min-height: 1073px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2695px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-1 {
    width: 28px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-1 {
    height: 2309px;
    width: 300px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -2268px;
    margin-bottom: 126px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    min-height: 676px;
  }
}